#Server TimeZone
TZ=Asia/Ho_Chi_Minh
SECURITY_DB_DATABASENAME=user
SECURITY_DB_USER=security_user
SECURITY_DB_PASSWORD=8OmXUwT+AuxlqUdHmxBBHLL96SBhit0XoollEWRZN/A=
SECURITY_DB_ROOT_PASSWORD=rn6Oe0ykOc7BT9YIKQG1TMXhOA7XJfdjyK
SECURITY_DB_PORT=3307
STORAGE_DB_DATABASENAME=storage
STORAGE_DB_USER=storage_user
STORAGE_DB_PASSWORD=YOs5SbFusoEIO+zT1ZxbC99cFtbabzdHEVJgaZUSHiw=
STORAGE_DB_ROOT_PASSWORD=0VtZ5zeYBuYtmPJ28zoEZCb68/0eOrA3mykhjLFFnQs=
STORAGE_DB_PORT=3308
STORAGE_MS_PORT=8083
SECURITY_MS_PORT=8084
SERVICE_REGISTRY_HOSTNAME=host.docker.internal
SERVICE_REGISTRY_PORT=8761
SPRINGDOC_SECURE=false
API_GATEWAY_PORT=8080
#Generated using openssl, if you don't have openssl, you can manually set this, it must bea a 32-bytes length string (NB! Not necessarily 32 character)
JWT_SECRET=Ve7LCUOjSVlnDNS/UZtnP/KwrRqEDL4GkTTsrGQszd4=
