SET NAMES utf8mb4 COLLATE utf8mb4_0900_ai_ci;
SET CHARACTER SET utf8mb4;
DROP DATABASE IF EXISTS ${STORAGE_DB_DATABASENAME};
CREATE DATABASE  ${STORAGE_DB_DATABASENAME};

CREATE USER IF NOT EXISTS '${STORAGE_DB_USER}'@'%' IDENTIFIED BY '${STORAGE_DB_PASSWORD}';
GRANT ALL PRIVILEGES ON ${STORAGE_DB_DATABASENAME}.* TO '${STORAGE_DB_USER}'@'%';
FLUSH PRIVILEGES;

ALTER DATABASE ${STORAGE_DB_DATABASENAME} CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci;
SET GLOBAL character_set_client = utf8mb4;
SET GLOBAL character_set_connection = utf8mb4;
SET GLOBAL character_set_results = utf8mb4;
USE ${STORAGE_DB_DATABASENAME};
CREATE TABLE storage_item (
    id VARBINARY(16) PRIMARY KEY NOT NULL DEFAULT (UUID_TO_BIN(UUID())),
    name VARCHAR(255) NOT NULL,
    type ENUM('Folder', 'File') NOT NULL,
    size BIGINT UNSIGNED DEFAULT NULL,
    extension VARCHAR(255) DEFAULT NULL,
    parent_id VARBINARY(16),
    owner VARBINARY(16) NOT NULL,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    updated_at DATETIME DEFAULT CURRENT_TIMESTAMP
);
