SET NAMES utf8mb4 COLLATE utf8mb4_0900_ai_ci;
SET CHARACTER SET utf8mb4;
DROP DATABASE IF EXISTS ${SECURITY_DB_DATABASENAME};
CREATE DATABASE  ${SECURITY_DB_DATABASENAME};

CREATE USER IF NOT EXISTS '${SECURITY_DB_USER}'@'%' IDENTIFIED BY '${SECURITY_DB_PASSWORD}';
GRANT ALL PRIVILEGES ON ${SECURITY_DB_DATABASENAME}.* TO '${SECURITY_DB_USER}'@'%';

FLUSH PRIVILEGES;
ALTER DATABASE ${SECURITY_DB_DATABASENAME} CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci;
SET GLOBAL character_set_client = utf8mb4;
SET GLOBAL character_set_connection = utf8mb4;
SET GLOBAL character_set_results = utf8mb4;
USE ${SECURITY_DB_DATABASENAME};
CREATE TABLE user (
    id VARBINARY(16) PRIMARY KEY NOT NULL DEFAULT (UUID_TO_BIN(UUID())),
    name VARCHAR(255) NOT NULL,
    email VARCHAR(255) UNIQUE NOT NULL,
    hashed_password VARCHAR(255) NOT NULL,
    role VARCHAR(255) NOT NULL DEFAULT "User",
    is_locked TINYINT(1) NOT NULL DEFAULT 0,
    lock_reason VARCHAR(255) DEFAULT NULL,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    locked_at DATETIME DEFAULT NULL,
    locked_by VARBINARY(16) DEFAULT NULL
);
